// COLORS

:root {
    --color-main: #8500D7;
    --color-main-light: #E7BFFF;
    --color-secondary: #FF007A;
    --color-neon: #00FFD1;
    --color-neon-light: #BFFFF4;

    --color-text: #262626;
    --color-link: #8500D7;
    --color-white: #FFF;
    --color-black: #000;
    --color-dark-grey: #707070;
}
